:root {
    --title-color: #322153;
    --text-gray: #6C6C80;
    --primary-color: #23864F;
    --primary-hover: #279B5B;
    --vibrant-green: #34CB79;
    --border-color: #d1d1d1;
    --bg-gray: #F0F0F5;
    --light-gray: #f8f8f8;
    --light-green: #E1FAEC;
}

html {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
    Headings
*/
h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 34px;
}
@media (min-width: 992px) {
    .h1 {
        font-size: 54px;
    }
}

h2, .h2 {
    font-size: 26px;
}
@media (min-width: 992px) {
    .h2 {
        font-size: 36px;
    }
}

/* 
    Buttons
*/
.btn {
    align-items: center;
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    max-width: 348px;
    padding: 0;
    text-decoration: none;
    transition: .15s;
    width: 100%;
}
@media (min-width: 992px) {
    .btn {
        margin-left: unset;
        margin-right: unset;
        margin-top: 40px;
    }
}

.btn:hover {
    background-color: var(--primary-hover);
}

.btn__icon {
    background: var(--primary-hover) url(../assets/search.svg) no-repeat;
    background-position: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: inline-block;
    height: 56px;
    width: 56px;
    vertical-align: middle;
}

.btn__text {
    display: block;
    flex: 1;
    text-align: center;
}

/* 
    Container
*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1120px;
    }
}

/* 
    Header
*/
.l-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}
@media (min-width: 992px) {
    .l-header {
        flex-wrap: nowrap;
        padding-top: 46px;
    }
}

.l-header__item {
    flex: 1 1 100%;
}
@media (min-width: 576px) {
    .l-header__item {
        flex: 0 1 auto;
    }
}

.l-header__item:not(:first-child) {
    margin-top: 20px;
}
@media (min-width: 992px) {
    .l-header__item:not(:first-child) {
        margin-top: 0;
    }
}

.l-header__item:nth-child(2) {
    border-top: 1px solid var(--border-color);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 15px;
    position: absolute;
}

@media (min-width: 992px) {
    .l-header__item:nth-child(2) {
        border-top: none;
        justify-content: unset;
        padding: 0;
        position: initial;
    }
}

.header__register-point {
    align-items: center;
    color: var(--title-color);
    display: flex;
    font-weight: 700;
    justify-content: center;
    transition: .15s;
}
@media (min-width: 992px) {
    .header__register-point {
        justify-content: unset;
    }
}

.header__register-point:hover {
    color: var(--primary-color);
}

.header__register-point-icon {
    background: url(../assets/log-in.svg) no-repeat;
    display: inline-block;
    height: 20px;
    margin-right: 16px;
    width: 20px;
}

/* 
    Page
*/
.page {
    background-color: var(--bg-gray);
    background-repeat: no-repeat;
    position: relative;
}

/* 
    Main Content
*/

.main-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 736px;
}

/* 
    Form
*/
.form {
    background-color: white;
    border-radius: 8px;
    margin-top: 40px;
    padding: 34px;
}
@media (min-width: 992px) {
    .form {
        margin-top: 80px;
        padding: 64px;
    }
}

.form__fieldset {
    margin-top: 24px;
}
@media (min-width: 992px) {
    .form__fieldset {
        margin-top: 64px;
    }
}

.form__legend {
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
@media (min-width: 992px) {
    .form__legend {
        font-size: 24px;
        margin-bottom: 16px;
    }
}

@media (min-width: 992px) {
    .l-form-legend-extra {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

.form__legend-extra {
    color: var(--text-gray);
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
}
@media (min-width: 992px) {
    .form__legend-extra {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .l-form-row {
        display: flex;
    }
}

.form__group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}
@media (min-width: 768px) {
    .form__group {
        flex: 1;
    }
}

@media (min-width: 768px) {
    .l-form-row .form__group + .form__group {
        margin-left: 24px;
    }
}
@media (min-width: 768px) {
    .l-form-row--bigger-left .form__group + .form__group {
        flex: 0;
    }
}

.form__label {
    color: var(--text-gray);
    flex: 1 1 100%;
    font-size: 16px;
    margin-bottom: 8px;
}

.form__input {
    background-color: var(--bg-gray);
    border: 2px solid transparent;
    border-radius: 8px;
    flex: 1 1 100%;
    height: 56px;
    padding: 0 15px;
    transition: .15s;
}
.form__input:not(:disabled):hover, .form__input:not(:disabled):focus {
    background-color: white;
    border: 2px solid var(--bg-gray);
}

.form__input:disabled {
    cursor: not-allowed;
}

.form__input--select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
