<div class="modal -hide" tabindex="-1">
    <div class="modal__content">
        <div class="modal__header">
            <h2 class="modal__title">Pontos de Coleta</h2>
            <button class="modal__close"><span class="sr-only">Fechar</span></button>
        </div>
        <div class="modal__body">
            <form class="form" action="/search">
                <div class="form__group">
                    <label class="form__label" for="parameter-city">Cidade</label>

                    <div class="l-form__input-btn">
                        <input class="form__input" id="parameter-city" type="text" name="search"
                            placeholder="Digite a cidade">
                        <button class="btn">
                            <span class="btn__icon" aria-hidden="true"></span>
                            <span class="sr-only btn__text">Buscar</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>