<header class="header">
    <div class="l-header">
        <div class="l-header__item">
            <a href="/" class="header__logo">
                <img src="assets/logo.svg" alt="Ecoleta">
            </a>
        </div>

        <div class="l-header__item">
            <a href="/{{ linkHeader }}" class="header__register-point">
                <span class="header__register-point-icon" aria-hidden="true"></span>
                {{ linkHeaderText }}
            </a>
        </div>
    </div>
</header>